html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a {
    text-decoration: none;
}

.card {
    border: none;
}

    .card img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    .card span {
        border-radius: 20%;
        padding-inline: 0.5rem;
        padding-block: 0.25rem;
    }

.bi {
    color: black;
}

.carousel img {
    height: auto;
    width: auto;
    border-radius: 0;
}
